<!-- Begin Footer
================================================== -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-first col-sm-12 order-sm-last text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>

            <div class="social-media col-md-6 col-sm-12 text-center text-lg-right">
                <span>Yuk ikuti kami di</span>
                <a target="_blank" href="https://www.tiktok.com/@alminnah.farm">
                    <i class="fa-brands fa-tiktok fa-lg"></i>
                </a>
                
                <a target="_blank" href="https://www.facebook.com/share/1AXNsJ2bFk/?mibextid=wwXIfr">
                    <i class="fa-brands fa-facebook-f fa-lg"></i>
                </a>

                <a target="_blank" href="https://www.instagram.com/alminnah.farm">
                    <i class="fa-brands fa-instagram fa-lg"></i>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer
================================================== -->

