<!-- Begin Menu Navigation
================================================== -->
<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top mediumnavigation nav-down">

    <div class="container pr-0">

    <!-- Begin Logo -->
    <a class="navbar-brand" href="{{ site.baseurl }}/">
        <img src="{{ site.baseurl }}/{{ site.logo }}" alt="{{ site.name }}">
    </a>
    <!-- End Logo -->

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMediumish" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMediumish">
        <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ site.baseurl }}/tentang-kami">Tentang Kami</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="tulisanDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tulisan
                    </a>
                    <div class="dropdown-menu" aria-labelledby="tulisanDropdown">
                        <a class="dropdown-item" href="{{ site.baseurl }}/kategori">Semua Tulisan</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ site.baseurl }}/kategori#katalog">Katalog</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/kategori#pojok-ilmu">Pojok Ilmu</a>
                        <a class="dropdown-item" href="{{ site.baseurl }}/kategori#cerita">Cerita</a>
                    </div>
                </li>
           
                {% include search-lunr.html %}
            </ul>
        <!-- End Menu -->
    </div>

    </div>
</nav>
<!-- End Navigation
================================================== -->