---
title: "Kategori Konten"
layout: default
permalink: "/kategori"
---

<div class="row listrecent">

    {% for category in site.categories %}
    {% assign cat_data = site.data.categories[category[0]] %}
    <div class="section-title col-md-12 mt-4">
        <h2 id="{{ category[0] }}">{% if cat_data %}{{ cat_data.name }}{% else %}{{ category[0] | replace: "-"," " | capitalize }}{% endif %}</h2>
    </div>

    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
    {% if post.title != null %}
    {% if group == null or group == post.group %}
    {% include postbox.html %}
    {% endif %}
    {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
    {% endfor %}
</div>