---
layout: default
archive: true
post_class: post-template
---

<!-- Begin Article
================================================== -->
<div class="container">
    <div class="row">

        <!-- Post Share -->
        <div class="col-md-2 pl-0">
            {% include share.html %}
        </div>

        <!-- Post -->
        <div class="col-md-9 flex-first flex-md-unordered">
            <div class="main-heading">
                <!-- Post Title -->
                <h1 class="post-title">{{ page.title }}</h1>

                <!-- Post Date -->
                <p>
                    
                    {% if page.last_modified_at %}
                    (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                    {% endif %} 

                    {% assign sortedCategories = page.categories | sort %}
                    {% for category in sortedCategories %}
                    <span>{{ site.data.categories[category].name | default: category }}</span>
                    {% endfor %}

                    <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">• {{ page.date | date_to_string }}</time></span>
                </p>

            </div>

            <!-- Post Featured Image -->
            {% if page.image %}

            {% if site.lazyimages == "enabled" %}
            <img class="featured-image img-fluid lazy-img" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% else %}
            <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
            {% endif %}

            {% endif %}
            <!-- End Featured Image -->

            <!-- Post Content -->
            <div class="article-post">
                <!-- Toc if any -->
                {% if page.toc %}
                    {% if page.beforetoc %}
                        <p><em>{{page.beforetoc}}</em></p>
                    {% endif %}
                    <div class="toc mt-4 mb-4 lead">
                        <h3 class="font-weight-bold">Summary</h3>
                        {% include toc.html html=content %}
                    </div>
                {% endif %}
                <!-- End Toc -->
                {{content}}
            </div>




            <!-- End Categories -->

            <!-- Prev/Next -->
            {% assign nav_posts = site.posts | where_exp: "post", "post.categories contains 'cerita' or post.categories contains 'pojok-ilmu'" %}
            {% for post in nav_posts %}
                {% if post.url == page.url %}{% assign nav_index = forloop.index0 %}{% endif %}
            {% endfor %}
            {% if nav_index > 0 %}
                {% assign nav_next_i = nav_index | minus: 1 %}
                {% assign nav_next = nav_posts[nav_next_i] %}
            {% endif %}
            {% assign nav_prev_i = nav_index | plus: 1 %}
            {% if nav_prev_i < nav_posts.size %}{% assign nav_prev = nav_posts[nav_prev_i] %}{% endif %}
            <div class="row PageNavigation d-flex justify-content-between font-weight-bold">
            {% if nav_prev %}
            <a class="prev d-block col-md-6" href="{{ site.baseurl }}{{ nav_prev.url }}">&laquo; {{ nav_prev.title }}</a>
            {% endif %}
            {% if nav_next %}
            <a class="next d-block col-md-6 text-lg-right{% unless nav_prev %} ml-auto{% endunless %}" href="{{ site.baseurl }}{{ nav_next.url }}">{{ nav_next.title }} &raquo;</a>
            {% endif %}
            <div class="clearfix"></div>
            </div>
            <!-- End Categories -->

        </div>
        <!-- End Post -->

    </div>
</div>
<!-- End Article
================================================== -->


